.control {
	margin: auto;
	width: 18%;
	text-align: center;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

img {
	border: crimson solid 2px;
}
/* btns */
#btn {
	width: 100px;
	margin: 0 auto;
	display: inline-block;
}
.input {
	width: 50%;
	margin: 0 auto;
}

.restart {
	background: red;
}
