* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 100vw;
	border: black solid 3px;
	height: 100vh;
	display: flex;
}

.game {
	display: flex;
	justify-content: space-between;
	width: 60vw;
	height: 80%;
	margin: auto;
	border: green solid 3px;
}
